

{{ 'featured-content.css' | asset_url | stylesheet_tag }}
<script src="{{ 'featured-content.js' | asset_url }}" defer="defer"></script>
test asdasdgasadj
<div class=" container container-fullwidth m-pr-0" bis_skin_checked="1">
  <variety-heading class="section--header text-left">
    <div
      class="section--header-inner is-animated-gsap"
      data-saos="fromBottomToTop"
      style="
        opacity: 1;
        translate: none;
        rotate: none;
        scale: none;
        transform: translate(0px, 0px);
      "
      bis_skin_checked="1"></div>
  </variety-heading>
<style>
  .title {
  margin-top: 100px;
  margin-bottom: 100px;
  }
  </style>
  {% if section.settings.heading_text != blank %}
  <div class="supp-reso-title">
  
        <h1 class="title">{{ section.settings.heading_text }}</h1>

  
    

  </div>
  {% endif %}

  <text-with-icon class="text-with-icon--wrapper mobile-swipe">
    <div
      id="textWithIconItem-column_cJ4QWR"
      class="text-with-icon--item"
      data-card-animate=""
      style="
        translate: none;
        rotate: none;
        scale: none;
        transform: translate(0px, 0px);
        opacity: 1;
      "
      bis_skin_checked="1">
      <div
        class="active_animate_background text-with-icon-item--inner animate-background column-background-enabled icon-position-top text-left"
        data-text-icon-inner=""
        style="--description_height: 54.703125px"
        bis_skin_checked="1">
        <div class="text-with-icon--icon icon-gap-medium icon-border-enabled large-icon" bis_skin_checked="1">
        {{ section.settings.svg_1 }}
        </div>
        <div class="text-with-icon--content pos-relative" text-icon-content="" bis_skin_checked="1">
          <h3 class="text-with-icon--heading h6">Free Shipping</h3>

          <p class="text-with-icon--desc text-medium" data-text-icon-desc="">
            Enjoy free shipping on all orders, no minimum required.
          </p>
        </div>
      </div>
    </div>
    <div
      id="textWithIconItem-column_QTNefd"
      class="text-with-icon--item"
      data-card-animate=""
      style="
        translate: none;
        rotate: none;
        scale: none;
        transform: translate(0px, 0px);
        opacity: 1;
      "
      bis_skin_checked="1">
      <div
        class="text-with-icon-item--inner animate-background column-background-enabled icon-position-top text-left"
        data-text-icon-inner=""
        style="--description_height: 54.703125px"
        bis_skin_checked="1">
        <div class="text-with-icon--icon icon-gap-medium icon-border-enabled large-icon" bis_skin_checked="1">
          <svg viewBox="0 0 24 24" fill="none">
            <path d="M12 22C12 22 20 18 20 12V5L12 2L4 5V12C4 18 12 22 12 22Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
        <div class="text-with-icon--content pos-relative" text-icon-content="" bis_skin_checked="1">
          <h3 class="text-with-icon--heading h6">Secure Checkout</h3>

          <p class="text-with-icon--desc text-medium" data-text-icon-desc="">
            Shop with our checkout process is safeguarded by security.
          </p>
        </div>
      </div>
    </div>
    <div
      id="textWithIconItem-column_n6Fedm"
      class="text-with-icon--item"
      data-card-animate=""
      style="
        translate: none;
        rotate: none;
        scale: none;
        transform: translate(0px, 0px);
        opacity: 1;
      "
      bis_skin_checked="1">
      <div
        class="text-with-icon-item--inner animate-background column-background-enabled icon-position-top text-left"
        data-text-icon-inner=""
        style="--description_height: 54.703125px"
        bis_skin_checked="1">
        <div class="text-with-icon--icon icon-gap-medium icon-border-enabled large-icon" bis_skin_checked="1">
          <svg viewBox="0 0 24 24" fill="none">
            <path d="M1 4V10H7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M3.51 14.9985C4.15839 16.8389 5.38734 18.4187 7.01166 19.4999C8.63598 20.5811 10.5677 21.1051 12.5157 20.993C14.4637 20.8808 16.3226 20.1387 17.8121 18.8782C19.3017 17.6178 20.3413 15.9075 20.7742 14.0048C21.2072 12.1022 21.0101 10.1104 20.2126 8.32958C19.4152 6.54873 18.0605 5.07528 16.3528 4.13125C14.6451 3.18722 12.6769 2.82375 10.7447 3.0956C8.81245 3.36745 7.02091 4.2599 5.64 5.63848L1 9.99848" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            </path>
          </svg>
        </div>
        <div class="text-with-icon--content pos-relative" text-icon-content="" bis_skin_checked="1">
          <h3 class="text-with-icon--heading h6">Easy Return Policy</h3>

          <p class="text-with-icon--desc text-medium" data-text-icon-desc="">
            Not satisfied? Return item within 30 days for a full refund or exchange.
          </p>
        </div>
      </div>
    </div>
    <div
      id="textWithIconItem-column_aqxKHP"
      class="text-with-icon--item"
      data-card-animate=""
      style="
        translate: none;
        rotate: none;
        scale: none;
        transform: translate(0px, 0px);
        opacity: 1;
      "
      bis_skin_checked="1">
      <div
        class="text-with-icon-item--inner animate-background column-background-enabled icon-position-top text-left"
        data-text-icon-inner=""
        style="--description_height: 54.703125px"
        bis_skin_checked="1">
        <div class="text-with-icon--icon icon-gap-medium icon-border-enabled large-icon" bis_skin_checked="1">
        {{ section.settings.svg_4 }}
        </div>
        <div class="text-with-icon--content pos-relative" text-icon-content="" bis_skin_checked="1">
          <h3 class="text-with-icon--heading h6">Live chat 24/7</h3>

          <p class="text-with-icon--desc text-medium" data-text-icon-desc="">
            Have questions or need help? Our live chat support is available.
          </p>
        </div>
      </div>
    </div>
  </text-with-icon>
</div>


{% schema %}
{
  "name": "Featured Content",
  "settings": [
    { "type": "header", "content": "Featured Content", "info": "USe px only" },
    { "type": "paragraph", "content": "Featured Content paragraph" },
    { "type": "text", "id": "heading_text", "label": "Heading Text", "default": "Heading Text" },
    { "type": "liquid", "id": "svg_1", "label": "Icon" }
  
  ]
  ,
  "presets": [{ "name": "Featured " }]
}
{% endschema %}
